<form #registerForm="ngForm" (ngSubmit)="register()">
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="username" [(ngModel)]="model.username" placeholder="Engineer Name">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="lotid" [(ngModel)]="model.lotid"  placeholder="Lot ID">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required name="reasononhold" [(ngModel)]="model.reasononhold"  placeholder="Reason On Hold">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" type="submit">Insert Record</button>
  </div>
  
</form>